# Coolify domain
COOLIFY_DOMAIN=coolify.example.com

# Enabled methods for the service (GET, POST, PUT, PATCH, DELETE, OPTIONS, HEAD) are available
ENABLED_METHODS=GET,POST

# Coolify API token
API_TOKEN=3|xqlZnuB3EC3CGQoCTcllGA4nUsIkNua2GpGLZG00a8129eb5

# Use HTTPS for the request (For default is true)
USE_HTTPS=true

